<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Blog Post</h1>
    
    <form action="/action_page.php">
        <label for="input1">Description:</label>
        <input type="text" id="input1" name="input1"><br><br>
        <label for="input2">Message:</label>
        <input type="text" id="input2" name="input2"><br><br>
        <input type="submit" value="Submit">
    </form>
    
    <p>Click the "Submit" button YERRR</p>

    <nav>
        <a href="/">Main</a>
        <a href="/about">About page</a>
    </nav>

</body>
</html>